---
layout: standalone
---

<div class="project">
	  <ul class="project-list">
	  	<li>
	  		<div class="project-Item-1">
	  		<img src="../images/VcpNet_arch.png"></img>
			  	<div class="Title">
					Master Thesis: VcpNet
			  	</div>
			  	<div class="Desc">
					Deep learning based quantification of spine deformations in 3D CT scans
			  	</div>
			</div>	
	  	</li>
	  	<li>
	  		<div class="project-Item-2">
	  			<img src="../images/roboy.png"></img>
			  	<div class="Title">
					Roboy: Computer Vision
			  	</div>
			  	<div class="Desc">
					Object Detection. Facial landmarks. Speaker detection
			  	</div>
	  		</div>
	  	</li>
	  	<li>
	  		<div class="project-Item-3">
	  			<img src="../images/roboy.png"></img>
			  	<div class="Title">
					Bachelor thesis: Pragyan
			  	</div>
			  	<div class="Desc">
					A semantic question answering engine.
			  	</div>	  			
	  		</div>
	  	</li>
	  	<li>
			<div class="project-Item-4">Project 4</div>
	  	</li>
	  	<li>
	  		<div class="project-Item-5">Project 5</div>
	  	</li>
	  	<li>
	  		<div class="project-Item-6">Project 6</div>
	  	</li>
	  </ul>
</div>