---
layout: standalone
---

<div class="project">
	<div class="project-grid-container">
	  <ul class="project-list">
	  	<li>
	  		<div class="project-Item-1">
	  		<img src="../images/VcpNet_arch.png"></img>
		  	<header>
			VcpNet	  	
		  	</header>
		</div>	
	  	</li>
	  	<li>
	  		<div class="project-Item-2">Project 2</div>
	  	</li>
	  	<li>
	  		<div class="project-Item-3">Project 3</div>
	  	</li>
	  	<li>
			<div class="project-Item-4">Project 4</div>
	  	</li>
	  	<li>
	  		<div class="project-Item-5">Project 5</div>
	  	</li>
	  	<li>
	  		<div class="project-Item-6">Project 6</div>
	  	</li>
	  </ul>
	  	
	  
	</div>
</div>