---
layout: standalone
---

<div class="project">
	  <ul class="project-list">
	  	<li>
	  		<div class="project-Item-1">
	  		<img src="../images/VcpNet.png"></img>
			  	<div class="project-Title">
					Master Thesis: Scoliosis detection - VcpNet
			  	</div>
			  	<div class="project-Desc">
					Deep learning based quantification of spine deformations in 3D CT scans
			  	</div>
			</div>	
	  	</li>
	  	<li>
	  		<div class="project-Item-2">
	  			<img src="../images/roboy.png"></img>
			  	<div class="project-Title">
					Roboy: Computer Vision
			  	</div>
			  	<div class="project-Desc">
					Object Detection. Facial landmarks. Speaker detection
			  	</div>
	  		</div>
	  	</li>
	  	<li>
	  		<div class="project-Item-3">
	  			<img src="../images/Pragyan.png"></img>
			  	<div class="project-Title">
					Bachelor thesis: Pragyan
			  	</div>
			  	<div class="project-Desc">
					A semantic question answering engine.
			  	</div>	  			
	  		</div>
	  	</li>
	  	<li>
			<div class="project-Item-4">
				<img src="../images/a17.jpg"></img>
			  	<div class="project-Title">
					Alpha 17: First person shooter game
			  	</div>
			  	<div class="project-Desc">
					A semantic question answering engine.
			  	</div>	  			
			</div>
	  	</li>
	  	<li>
	  		<div class="project-Item-5">
	  			<img src="../images/Boschlogo.png"></img>
			  	<div class="project-Title">
					Bosch: Car infotainment systems
			  	</div>
			  	<div class="project-Desc">
					A semantic question answering engine.
			  	</div>	  			
	  		</div>
	  	</li>
	  	<li>
	  		<div class="project-Item-6">
	  			<img src="../images/LT.jpg"></img>
			  	<div class="project-Title">
					Lightning talks: Public speaking
			  	</div>
			  	<div class="project-Desc">
					A semantic question answering engine.
			  	</div>	  			
	  		</div>
	  	</li>
	  </ul>
</div>